.profile-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}
.profile-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}
.body{
    background-color: rgba(178, 201, 197, 0.411);
}